// Screen
// ======

@import "_base";
@import "compass/css3/background-size";
@import "compass/css3/box-shadow";
@import "compass/css3/animation";
@import "compass/css3/border-radius";

@mixin circle($width, $color) {
  background: $color;
  -webkit-border-radius: $width/2;
     -moz-border-radius: $width/2;
          border-radius: $width/2;
}

$susy: (
  flow: ltr,
  math: fluid,
  output: isolate,
  container: auto,
  columns: 12,
  gutters: .3,
  gutter-position: inside,
);

body {
  font-family: "Hevetica Neue", "Helvetica", sans-serif;
}

@media(min-width: 480px) {
  @for $i from 1 through 12{
    .col-sm-#{$i} {
      @include span($i of 12);
    }
  }
}

@media(min-width: 700px) {
  @for $i from 1 through 12{
    .col-md-#{$i} {
      @include span($i of 12);
    }
  }
}

@media(min-width: 940px) {
  @for $i from 1 through 12{
    .col-lg-#{$i} {
      @include span($i of 12);
    }
  }
}

$color-bg: #f2f2f1;

$color-neutral-light: #d6d6d4;
$color-neutral-mid: #685c53;
$color-neutral-dark: #373534;

$color-brand-light: #bcdeff;
$color-brand-mid: #004ebc;
$color-brand-dark: #002c5f;

$color-cool-light: #ccf3f4;
$color-cool-mid: #00bdc5;
$color-cool-dark: #00799a;

$color-warm-light: #f8ecbd;
$color-warm-mid: #f9c700;
$color-warm-dark: #685300;

$color-pos-light: #d5eaca;
$color-pos-mid: #47b700;
$color-pos-dark: #216f00;

$navbar-height: 50px;

.main-navbar {
  width: 100%;
  background-color: $color-bg;
  height: $navbar-height;
  line-height: $navbar-height;
  font-weight: 800;
  padding: 0 23px;
}

$toolbar-height: 90px;

.toolbar {
  width: 100%;
  height: $toolbar-height;
  background-color: $color-neutral-dark;
}

$bg-size: 100%;

.toolbar-icon {
  width: 90px;
  height: 90px;
  background-position: center top;
  background-repeat: no-repeat;
  display: inline-block;
  cursor: pointer;

  @include background-size($default-background-size);

  &:hover {
    background-position: center -90px;
  }
}

.toolbar-icon-form {
  background-image: url('../image/new_form_full.png');
}

.toolbar-icon-workflow {
  background-image: url('../image/new_case_full.png');
}

.form-icon {
  width: 125px;
  height: 125px;
  cursor: pointer;
  background-position: center top;
  background-repeat: no-repeat;
  display: inline-block;

  @include background-size($default-background-size);
  background-image: url('../image/form_icon_full.png');
  position: relative;

  &:hover {
    background-position: center -125px;
  }

}



.form-icon-title {
  position: absolute;
  width: 60px;
  bottom: 26px;
  font-size: 12px;
  left: 31px;
  font-weight: 800;
  text-transform: uppercase;
  color: $color-cool-dark;
}

.form-connection {
  position: absolute;
  right: 15px;

}


.form-icon-workflow {
  background-image: url('../image/form_icon_workflow_full.png');
  .form-icon-title {
    color: $color-brand-mid;
  }
}


.workflow-container {
  width: 500px;
  height: 500px;
  @include circle(100%, lighten(desaturate($color-brand-mid, 60), 20));
  position: relative;
}

$workflow-icon-size: 50px;

.workflow-icon {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -$workflow-icon-size/2;
  margin-top: -$workflow-icon-size/2;
  width: $workflow-icon-size;
  height: $workflow-icon-size;
  text-align: center;
  line-height: $workflow-icon-size;
  @include circle(100%, $color-brand-mid);
  color: #ffffff;
  font-size: 1.5rem;
  cursor: pointer;
  transition: box-shadow .3s ease-in-out;
  &:hover,
  &.glow {
    @include single-box-shadow(0, 0, 5px, 5px, rgba(255, 255, 255, .5), null);
  }
}

$connection-size: $workflow-icon-size/3;
.workflow-icon-connection {
  cursor: pointer;
  width: $connection-size;
  height: $connection-size;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -$connection-size/2;
  margin-top: -$connection-size/2 - $workflow-icon-size/2;
  border: 3px solid $color-warm-mid;
  @include circle(100%, $color-warm-light);
  transition: box-shadow .3s ease-in-out;
  box-sizing: border-box;
  &:hover,
  &.glow {
    @include single-box-shadow(0, 0, 5px, 5px, $color-warm-light, null);
  }

  &.connected {
    border: 1px solid #ffffff;
    background-color: $color-pos-mid;
    &:hover,
    &.glow {
      @include single-box-shadow(0, 0, 5px, 5px, $color-pos-light, null);
    }
  }
}

.form {
  @include border-radius(10px);
  padding: 10px;
  background-color: $color-bg;
  cursor: move;
  min-width: 100px;
  min-height: 175px;
  margin: 20px;
  float: left;
  z-index: 2;

  .question {
    width: 90%;
    display: inline-block;
  }
  .remove-question {
    width: 10%;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    &:hover {
      color: $color-brand-dark;
    }
  }
  li {
    margin: 10px 0;
  }
  transition: box-shadow .3s ease-in-out;
  box-sizing: border-box;
  &:hover,
  &.glow {
    @include single-box-shadow(0, 0, 5px, 5px, $color-brand-light, null);
  }
  h1 {
    font-size: 10px;
    text-transform: uppercase;
    font-weight: bold;
    color: $color-neutral-mid;
  }
}

.connection-controls {
  padding-bottom: 10px;
  cursor: pointer;
  position: relative;

  .workflow-icon-connection {
    left: inherit;
    right: -15px;
    top: -15px;
    margin-top: 0;
    margin-left: 0;

  }
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

