@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/biyeun\/Code\/_web\/cm_prototype\/src\/cm_prototype\/static\/sass\/style\.scss}line{font-family:\0000314}}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn,
em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas,
details, embed, figure, figcaption, footer, header, hgroup, menu, nav,
output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/biyeun\/Code\/_web\/cm_prototype\/src\/cm_prototype\/static\/sass\/style\.scss}line{font-family:\0000324}}
  html {
    line-height: 1; }

    @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/biyeun\/Code\/_web\/cm_prototype\/src\/cm_prototype\/static\/sass\/style\.scss}line{font-family:\0000329}}
    ol, ul {
      list-style: none; }

      @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/biyeun\/Code\/_web\/cm_prototype\/src\/cm_prototype\/static\/sass\/style\.scss}line{font-family:\0000334}}
      table {
        border-collapse: collapse;
        border-spacing: 0; }

        @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/biyeun\/Code\/_web\/cm_prototype\/src\/cm_prototype\/static\/sass\/style\.scss}line{font-family:\0000340}}
        caption, th, td {
          text-align: left;
          font-weight: normal;
          vertical-align: middle; }

          @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/biyeun\/Code\/_web\/cm_prototype\/src\/cm_prototype\/static\/sass\/style\.scss}line{font-family:\0000347}}
          q, blockquote {
            quotes: none; }

            @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/biyeun\/Code\/_web\/cm_prototype\/src\/cm_prototype\/static\/sass\/style\.scss}line{font-family:\0000351}}
            q:before, q:after, blockquote:before, blockquote:after {
              content: "";
              content: none; }

              @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/biyeun\/Code\/_web\/cm_prototype\/src\/cm_prototype\/static\/sass\/style\.scss}line{font-family:\0000357}}
              a img {
                border: none; }

                @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/biyeun\/Code\/_web\/cm_prototype\/src\/cm_prototype\/static\/sass\/style\.scss}line{font-family:\0000362}}
                article, aside, details, figcaption, figure, footer, header, hgroup, main,
                menu, nav, section, summary {
                  display: block; }

                  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/biyeun\/Code\/_web\/cm_prototype\/src\/cm_prototype\/static\/sass\/style\.scss}line{font-family:\0000367}}
                  body {
                    font-family: "Hevetica Neue", "Helvetica", sans-serif; }

                    @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/biyeun\/Code\/_web\/cm_prototype\/src\/cm_prototype\/static\/sass\/style\.scss}line{font-family:\0000371}}
                    @media (min-width: 480px) {
                      @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/biyeun\/Code\/_web\/cm_prototype\/src\/cm_prototype\/static\/sass\/style\.scss}line{font-family:\0000371}}
                      .col-sm-1 {
                        -moz-box-sizing: border-box;
                        -webkit-box-sizing: border-box;
                        box-sizing: border-box;
                        width: 8.33333%;
                        float: left;
                        padding-left: 0.96154%;
                        padding-right: 0.96154%;   }
                        @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/biyeun\/Code\/_web\/cm_prototype\/src\/cm_prototype\/static\/sass\/style\.scss}line{font-family:\0000382}}
                        .col-sm-2 {
                          -moz-box-sizing: border-box;
                          -webkit-box-sizing: border-box;
                          box-sizing: border-box;
                          width: 16.66667%;
                          float: left;
                          padding-left: 0.96154%;
                          padding-right: 0.96154%;   }
                          @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/biyeun\/Code\/_web\/cm_prototype\/src\/cm_prototype\/static\/sass\/style\.scss}line{font-family:\0000393}}
                          .col-sm-3 {
                            -moz-box-sizing: border-box;
                            -webkit-box-sizing: border-box;
                            box-sizing: border-box;
                            width: 25%;
                            float: left;
                            padding-left: 0.96154%;
                            padding-right: 0.96154%;   }
                            @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/biyeun\/Code\/_web\/cm_prototype\/src\/cm_prototype\/static\/sass\/style\.scss}line{font-family:\00003104}}
                            .col-sm-4 {
                              -moz-box-sizing: border-box;
                              -webkit-box-sizing: border-box;
                              box-sizing: border-box;
                              width: 33.33333%;
                              float: left;
                              padding-left: 0.96154%;
                              padding-right: 0.96154%;   }
                              @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/biyeun\/Code\/_web\/cm_prototype\/src\/cm_prototype\/static\/sass\/style\.scss}line{font-family:\00003115}}
                              .col-sm-5 {
                                -moz-box-sizing: border-box;
                                -webkit-box-sizing: border-box;
                                box-sizing: border-box;
                                width: 41.66667%;
                                float: left;
                                padding-left: 0.96154%;
                                padding-right: 0.96154%;   }
                                @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/biyeun\/Code\/_web\/cm_prototype\/src\/cm_prototype\/static\/sass\/style\.scss}line{font-family:\00003126}}
                                .col-sm-6 {
                                  -moz-box-sizing: border-box;
                                  -webkit-box-sizing: border-box;
                                  box-sizing: border-box;
                                  width: 50%;
                                  float: left;
                                  padding-left: 0.96154%;
                                  padding-right: 0.96154%;   }
                                  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/biyeun\/Code\/_web\/cm_prototype\/src\/cm_prototype\/static\/sass\/style\.scss}line{font-family:\00003137}}
                                  .col-sm-7 {
                                    -moz-box-sizing: border-box;
                                    -webkit-box-sizing: border-box;
                                    box-sizing: border-box;
                                    width: 58.33333%;
                                    float: left;
                                    padding-left: 0.96154%;
                                    padding-right: 0.96154%;   }
                                    @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/biyeun\/Code\/_web\/cm_prototype\/src\/cm_prototype\/static\/sass\/style\.scss}line{font-family:\00003148}}
                                    .col-sm-8 {
                                      -moz-box-sizing: border-box;
                                      -webkit-box-sizing: border-box;
                                      box-sizing: border-box;
                                      width: 66.66667%;
                                      float: left;
                                      padding-left: 0.96154%;
                                      padding-right: 0.96154%;   }
                                      @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/biyeun\/Code\/_web\/cm_prototype\/src\/cm_prototype\/static\/sass\/style\.scss}line{font-family:\00003159}}
                                      .col-sm-9 {
                                        -moz-box-sizing: border-box;
                                        -webkit-box-sizing: border-box;
                                        box-sizing: border-box;
                                        width: 75%;
                                        float: left;
                                        padding-left: 0.96154%;
                                        padding-right: 0.96154%;   }
                                        @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/biyeun\/Code\/_web\/cm_prototype\/src\/cm_prototype\/static\/sass\/style\.scss}line{font-family:\00003170}}
                                        .col-sm-10 {
                                          -moz-box-sizing: border-box;
                                          -webkit-box-sizing: border-box;
                                          box-sizing: border-box;
                                          width: 83.33333%;
                                          float: left;
                                          padding-left: 0.96154%;
                                          padding-right: 0.96154%;   }
                                          @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/biyeun\/Code\/_web\/cm_prototype\/src\/cm_prototype\/static\/sass\/style\.scss}line{font-family:\00003181}}
                                          .col-sm-11 {
                                            -moz-box-sizing: border-box;
                                            -webkit-box-sizing: border-box;
                                            box-sizing: border-box;
                                            width: 91.66667%;
                                            float: left;
                                            padding-left: 0.96154%;
                                            padding-right: 0.96154%;   }
                                            @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/biyeun\/Code\/_web\/cm_prototype\/src\/cm_prototype\/static\/sass\/style\.scss}line{font-family:\00003192}}
                                            .col-sm-12 {
                                              -moz-box-sizing: border-box;
                                              -webkit-box-sizing: border-box;
                                              box-sizing: border-box;
                                              width: 100%;
                                              float: left;
                                              padding-left: 0.96154%;
                                              padding-right: 0.96154%;   }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/biyeun\/Code\/_web\/cm_prototype\/src\/cm_prototype\/static\/sass\/style\.scss}line{font-family:\00003204}}
@media (min-width: 700px) {
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/biyeun\/Code\/_web\/cm_prototype\/src\/cm_prototype\/static\/sass\/style\.scss}line{font-family:\00003204}}
  .col-md-1 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 8.33333%;
    float: left;
    padding-left: 0.96154%;
    padding-right: 0.96154%;   }
    @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/biyeun\/Code\/_web\/cm_prototype\/src\/cm_prototype\/static\/sass\/style\.scss}line{font-family:\00003215}}
    .col-md-2 {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 16.66667%;
      float: left;
      padding-left: 0.96154%;
      padding-right: 0.96154%;   }
      @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/biyeun\/Code\/_web\/cm_prototype\/src\/cm_prototype\/static\/sass\/style\.scss}line{font-family:\00003226}}
      .col-md-3 {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: 25%;
        float: left;
        padding-left: 0.96154%;
        padding-right: 0.96154%;   }
        @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/biyeun\/Code\/_web\/cm_prototype\/src\/cm_prototype\/static\/sass\/style\.scss}line{font-family:\00003237}}
        .col-md-4 {
          -moz-box-sizing: border-box;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          width: 33.33333%;
          float: left;
          padding-left: 0.96154%;
          padding-right: 0.96154%;   }
          @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/biyeun\/Code\/_web\/cm_prototype\/src\/cm_prototype\/static\/sass\/style\.scss}line{font-family:\00003248}}
          .col-md-5 {
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            width: 41.66667%;
            float: left;
            padding-left: 0.96154%;
            padding-right: 0.96154%;   }
            @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/biyeun\/Code\/_web\/cm_prototype\/src\/cm_prototype\/static\/sass\/style\.scss}line{font-family:\00003259}}
            .col-md-6 {
              -moz-box-sizing: border-box;
              -webkit-box-sizing: border-box;
              box-sizing: border-box;
              width: 50%;
              float: left;
              padding-left: 0.96154%;
              padding-right: 0.96154%;   }
              @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/biyeun\/Code\/_web\/cm_prototype\/src\/cm_prototype\/static\/sass\/style\.scss}line{font-family:\00003270}}
              .col-md-7 {
                -moz-box-sizing: border-box;
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
                width: 58.33333%;
                float: left;
                padding-left: 0.96154%;
                padding-right: 0.96154%;   }
                @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/biyeun\/Code\/_web\/cm_prototype\/src\/cm_prototype\/static\/sass\/style\.scss}line{font-family:\00003281}}
                .col-md-8 {
                  -moz-box-sizing: border-box;
                  -webkit-box-sizing: border-box;
                  box-sizing: border-box;
                  width: 66.66667%;
                  float: left;
                  padding-left: 0.96154%;
                  padding-right: 0.96154%;   }
                  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/biyeun\/Code\/_web\/cm_prototype\/src\/cm_prototype\/static\/sass\/style\.scss}line{font-family:\00003292}}
                  .col-md-9 {
                    -moz-box-sizing: border-box;
                    -webkit-box-sizing: border-box;
                    box-sizing: border-box;
                    width: 75%;
                    float: left;
                    padding-left: 0.96154%;
                    padding-right: 0.96154%;   }
                    @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/biyeun\/Code\/_web\/cm_prototype\/src\/cm_prototype\/static\/sass\/style\.scss}line{font-family:\00003303}}
                    .col-md-10 {
                      -moz-box-sizing: border-box;
                      -webkit-box-sizing: border-box;
                      box-sizing: border-box;
                      width: 83.33333%;
                      float: left;
                      padding-left: 0.96154%;
                      padding-right: 0.96154%;   }
                      @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/biyeun\/Code\/_web\/cm_prototype\/src\/cm_prototype\/static\/sass\/style\.scss}line{font-family:\00003314}}
                      .col-md-11 {
                        -moz-box-sizing: border-box;
                        -webkit-box-sizing: border-box;
                        box-sizing: border-box;
                        width: 91.66667%;
                        float: left;
                        padding-left: 0.96154%;
                        padding-right: 0.96154%;   }
                        @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/biyeun\/Code\/_web\/cm_prototype\/src\/cm_prototype\/static\/sass\/style\.scss}line{font-family:\00003325}}
                        .col-md-12 {
                          -moz-box-sizing: border-box;
                          -webkit-box-sizing: border-box;
                          box-sizing: border-box;
                          width: 100%;
                          float: left;
                          padding-left: 0.96154%;
                          padding-right: 0.96154%;   }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/biyeun\/Code\/_web\/cm_prototype\/src\/cm_prototype\/static\/sass\/style\.scss}line{font-family:\00003337}}
@media (min-width: 940px) {
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/biyeun\/Code\/_web\/cm_prototype\/src\/cm_prototype\/static\/sass\/style\.scss}line{font-family:\00003337}}
  .col-lg-1 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 8.33333%;
    float: left;
    padding-left: 0.96154%;
    padding-right: 0.96154%;   }
    @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/biyeun\/Code\/_web\/cm_prototype\/src\/cm_prototype\/static\/sass\/style\.scss}line{font-family:\00003348}}
    .col-lg-2 {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 16.66667%;
      float: left;
      padding-left: 0.96154%;
      padding-right: 0.96154%;   }
      @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/biyeun\/Code\/_web\/cm_prototype\/src\/cm_prototype\/static\/sass\/style\.scss}line{font-family:\00003359}}
      .col-lg-3 {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: 25%;
        float: left;
        padding-left: 0.96154%;
        padding-right: 0.96154%;   }
        @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/biyeun\/Code\/_web\/cm_prototype\/src\/cm_prototype\/static\/sass\/style\.scss}line{font-family:\00003370}}
        .col-lg-4 {
          -moz-box-sizing: border-box;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          width: 33.33333%;
          float: left;
          padding-left: 0.96154%;
          padding-right: 0.96154%;   }
          @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/biyeun\/Code\/_web\/cm_prototype\/src\/cm_prototype\/static\/sass\/style\.scss}line{font-family:\00003381}}
          .col-lg-5 {
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            width: 41.66667%;
            float: left;
            padding-left: 0.96154%;
            padding-right: 0.96154%;   }
            @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/biyeun\/Code\/_web\/cm_prototype\/src\/cm_prototype\/static\/sass\/style\.scss}line{font-family:\00003392}}
            .col-lg-6 {
              -moz-box-sizing: border-box;
              -webkit-box-sizing: border-box;
              box-sizing: border-box;
              width: 50%;
              float: left;
              padding-left: 0.96154%;
              padding-right: 0.96154%;   }
              @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/biyeun\/Code\/_web\/cm_prototype\/src\/cm_prototype\/static\/sass\/style\.scss}line{font-family:\00003403}}
              .col-lg-7 {
                -moz-box-sizing: border-box;
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
                width: 58.33333%;
                float: left;
                padding-left: 0.96154%;
                padding-right: 0.96154%;   }
                @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/biyeun\/Code\/_web\/cm_prototype\/src\/cm_prototype\/static\/sass\/style\.scss}line{font-family:\00003414}}
                .col-lg-8 {
                  -moz-box-sizing: border-box;
                  -webkit-box-sizing: border-box;
                  box-sizing: border-box;
                  width: 66.66667%;
                  float: left;
                  padding-left: 0.96154%;
                  padding-right: 0.96154%;   }
                  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/biyeun\/Code\/_web\/cm_prototype\/src\/cm_prototype\/static\/sass\/style\.scss}line{font-family:\00003425}}
                  .col-lg-9 {
                    -moz-box-sizing: border-box;
                    -webkit-box-sizing: border-box;
                    box-sizing: border-box;
                    width: 75%;
                    float: left;
                    padding-left: 0.96154%;
                    padding-right: 0.96154%;   }
                    @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/biyeun\/Code\/_web\/cm_prototype\/src\/cm_prototype\/static\/sass\/style\.scss}line{font-family:\00003436}}
                    .col-lg-10 {
                      -moz-box-sizing: border-box;
                      -webkit-box-sizing: border-box;
                      box-sizing: border-box;
                      width: 83.33333%;
                      float: left;
                      padding-left: 0.96154%;
                      padding-right: 0.96154%;   }
                      @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/biyeun\/Code\/_web\/cm_prototype\/src\/cm_prototype\/static\/sass\/style\.scss}line{font-family:\00003447}}
                      .col-lg-11 {
                        -moz-box-sizing: border-box;
                        -webkit-box-sizing: border-box;
                        box-sizing: border-box;
                        width: 91.66667%;
                        float: left;
                        padding-left: 0.96154%;
                        padding-right: 0.96154%;   }
                        @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/biyeun\/Code\/_web\/cm_prototype\/src\/cm_prototype\/static\/sass\/style\.scss}line{font-family:\00003458}}
                        .col-lg-12 {
                          -moz-box-sizing: border-box;
                          -webkit-box-sizing: border-box;
                          box-sizing: border-box;
                          width: 100%;
                          float: left;
                          padding-left: 0.96154%;
                          padding-right: 0.96154%;   }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/biyeun\/Code\/_web\/cm_prototype\/src\/cm_prototype\/static\/sass\/style\.scss}line{font-family:\00003471}}
.main-navbar {
  width: 100%;
  background-color: #f2f2f1;
  height: 50px;
  line-height: 50px;
  font-weight: 800;
  padding: 0 23px; }

  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/biyeun\/Code\/_web\/cm_prototype\/src\/cm_prototype\/static\/sass\/style\.scss}line{font-family:\00003481}}
  .toolbar {
    width: 100%;
    height: 90px;
    background-color: #373534; }

    @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/biyeun\/Code\/_web\/cm_prototype\/src\/cm_prototype\/static\/sass\/style\.scss}line{font-family:\00003488}}
    .toolbar-icon {
      width: 90px;
      height: 90px;
      background-position: center top;
      background-repeat: no-repeat;
      display: inline-block;
      cursor: pointer;
      -moz-background-size: 100% auto;
      -o-background-size: 100% auto;
      -webkit-background-size: 100% auto;
      background-size: 100% auto; }

      @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/biyeun\/Code\/_web\/cm_prototype\/src\/cm_prototype\/static\/sass\/style\.scss}line{font-family:\00003501}}
      .toolbar-icon:hover {
        background-position: center -90px; }

        @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/biyeun\/Code\/_web\/cm_prototype\/src\/cm_prototype\/static\/sass\/style\.scss}line{font-family:\00003506}}
        .toolbar-icon-form {
          background-image: url("../image/new_form_full.png"); }

          @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/biyeun\/Code\/_web\/cm_prototype\/src\/cm_prototype\/static\/sass\/style\.scss}line{font-family:\00003511}}
          .toolbar-icon-workflow {
            background-image: url("../image/new_case_full.png"); }

            @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/biyeun\/Code\/_web\/cm_prototype\/src\/cm_prototype\/static\/sass\/style\.scss}line{font-family:\00003516}}
            .form-icon {
              width: 125px;
              height: 125px;
              cursor: pointer;
              background-position: center top;
              background-repeat: no-repeat;
              display: inline-block;
              -moz-background-size: 100% auto;
              -o-background-size: 100% auto;
              -webkit-background-size: 100% auto;
              background-size: 100% auto;
              background-image: url("../image/form_icon_full.png");
              position: relative; }

              @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/biyeun\/Code\/_web\/cm_prototype\/src\/cm_prototype\/static\/sass\/style\.scss}line{font-family:\00003531}}
              .form-icon:hover {
                background-position: center -125px; }

                @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/biyeun\/Code\/_web\/cm_prototype\/src\/cm_prototype\/static\/sass\/style\.scss}line{font-family:\00003536}}
                .form-icon-title {
                  position: absolute;
                  width: 60px;
                  bottom: 26px;
                  font-size: 12px;
                  left: 31px;
                  font-weight: 800;
                  text-transform: uppercase;
                  color: #00799a; }

                  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/biyeun\/Code\/_web\/cm_prototype\/src\/cm_prototype\/static\/sass\/style\.scss}line{font-family:\00003548}}
                  .form-connection {
                    position: absolute;
                    right: 15px; }

                    @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/biyeun\/Code\/_web\/cm_prototype\/src\/cm_prototype\/static\/sass\/style\.scss}line{font-family:\00003554}}
                    .form-icon-workflow {
                      background-image: url("../image/form_icon_workflow_full.png"); }

                      @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/biyeun\/Code\/_web\/cm_prototype\/src\/cm_prototype\/static\/sass\/style\.scss}line{font-family:\00003558}}
                      .form-icon-workflow .form-icon-title {
                        color: #004ebc; }

                        @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/biyeun\/Code\/_web\/cm_prototype\/src\/cm_prototype\/static\/sass\/style\.scss}line{font-family:\00003563}}
                        .workflow-container {
                          width: 500px;
                          height: 500px;
                          background: #658abd;
                          -webkit-border-radius: 50%;
                          -moz-border-radius: 50%;
                          border-radius: 50%;
                          position: relative; }

                          @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/biyeun\/Code\/_web\/cm_prototype\/src\/cm_prototype\/static\/sass\/style\.scss}line{font-family:\00003574}}
                          .workflow-icon {
                            position: absolute;
                            left: 50%;
                            top: 50%;
                            margin-left: -25px;
                            margin-top: -25px;
                            width: 50px;
                            height: 50px;
                            text-align: center;
                            line-height: 50px;
                            background: #004ebc;
                            -webkit-border-radius: 50%;
                            -moz-border-radius: 50%;
                            border-radius: 50%;
                            color: #ffffff;
                            font-size: 1.5rem;
                            cursor: pointer;
                            transition: box-shadow 0.3s ease-in-out; }

                            @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/biyeun\/Code\/_web\/cm_prototype\/src\/cm_prototype\/static\/sass\/style\.scss}line{font-family:\00003594}}
                            .workflow-icon:hover, .workflow-icon.glow {
                              -moz-box-shadow: 0 0 5px 5px rgba(255, 255, 255, 0.5);
                              -webkit-box-shadow: 0 0 5px 5px rgba(255, 255, 255, 0.5);
                              box-shadow: 0 0 5px 5px rgba(255, 255, 255, 0.5); }

                              @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/biyeun\/Code\/_web\/cm_prototype\/src\/cm_prototype\/static\/sass\/style\.scss}line{font-family:\00003601}}
                              .workflow-icon-connection {
                                cursor: pointer;
                                width: 16.66667px;
                                height: 16.66667px;
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                margin-left: -8.33333px;
                                margin-top: -33.33333px;
                                border: 3px solid #f9c700;
                                background: #f8ecbd;
                                -webkit-border-radius: 50%;
                                -moz-border-radius: 50%;
                                border-radius: 50%;
                                transition: box-shadow 0.3s ease-in-out;
                                box-sizing: border-box; }

                                @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/biyeun\/Code\/_web\/cm_prototype\/src\/cm_prototype\/static\/sass\/style\.scss}line{font-family:\00003619}}
                                .workflow-icon-connection:hover, .workflow-icon-connection.glow {
                                  -moz-box-shadow: 0 0 5px 5px #f8ecbd;
                                  -webkit-box-shadow: 0 0 5px 5px #f8ecbd;
                                  box-shadow: 0 0 5px 5px #f8ecbd; }

                                  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/biyeun\/Code\/_web\/cm_prototype\/src\/cm_prototype\/static\/sass\/style\.scss}line{font-family:\00003625}}
                                  .workflow-icon-connection.connected {
                                    border: 1px solid #ffffff;
                                    background-color: #47b700; }

                                    @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/biyeun\/Code\/_web\/cm_prototype\/src\/cm_prototype\/static\/sass\/style\.scss}line{font-family:\00003630}}
                                    .workflow-icon-connection.connected:hover, .workflow-icon-connection.connected.glow {
                                      -moz-box-shadow: 0 0 5px 5px #d5eaca;
                                      -webkit-box-shadow: 0 0 5px 5px #d5eaca;
                                      box-shadow: 0 0 5px 5px #d5eaca; }

                                      @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/biyeun\/Code\/_web\/cm_prototype\/src\/cm_prototype\/static\/sass\/style\.scss}line{font-family:\00003637}}
                                      .form {
                                        -moz-border-radius: 10px;
                                        -webkit-border-radius: 10px;
                                        border-radius: 10px;
                                        padding: 10px;
                                        background-color: #f2f2f1;
                                        cursor: move;
                                        min-width: 100px;
                                        min-height: 175px;
                                        margin: 10px;
                                        float: left;
                                        z-index: 2;
                                        transition: box-shadow 0.3s ease-in-out;
                                        box-sizing: border-box; }

                                        @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/biyeun\/Code\/_web\/cm_prototype\/src\/cm_prototype\/static\/sass\/style\.scss}line{font-family:\00003653}}
                                        .form .question {
                                          width: 90%;
                                          display: inline-block; }

                                          @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/biyeun\/Code\/_web\/cm_prototype\/src\/cm_prototype\/static\/sass\/style\.scss}line{font-family:\00003658}}
                                          .form .remove {
                                            width: 10%;
                                            text-align: center;
                                            display: inline-block;
                                            cursor: pointer;
                                            color: #004ebc; }

                                            @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/biyeun\/Code\/_web\/cm_prototype\/src\/cm_prototype\/static\/sass\/style\.scss}line{font-family:\00003666}}
                                            .form .remove:hover {
                                              color: #002c5f; }

                                              @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/biyeun\/Code\/_web\/cm_prototype\/src\/cm_prototype\/static\/sass\/style\.scss}line{font-family:\00003670}}
                                              .form li {
                                                margin: 10px 0; }

                                                @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/biyeun\/Code\/_web\/cm_prototype\/src\/cm_prototype\/static\/sass\/style\.scss}line{font-family:\00003674}}
                                                .form li .remove {
                                                  vertical-align: top; }

                                                  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/biyeun\/Code\/_web\/cm_prototype\/src\/cm_prototype\/static\/sass\/style\.scss}line{font-family:\00003678}}
                                                  .form:hover, .form.glow {
                                                    -moz-box-shadow: 0 0 5px 5px #bcdeff;
                                                    -webkit-box-shadow: 0 0 5px 5px #bcdeff;
                                                    box-shadow: 0 0 5px 5px #bcdeff; }

                                                    @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/biyeun\/Code\/_web\/cm_prototype\/src\/cm_prototype\/static\/sass\/style\.scss}line{font-family:\00003684}}
                                                    .form h2 {
                                                      color: #685c53; }

                                                      @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/biyeun\/Code\/_web\/cm_prototype\/src\/cm_prototype\/static\/sass\/style\.scss}line{font-family:\00003689}}
                                                      .connection-controls {
                                                        padding-bottom: 10px;
                                                        cursor: pointer;
                                                        position: relative;
                                                        width: 100%; }

                                                        @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/biyeun\/Code\/_web\/cm_prototype\/src\/cm_prototype\/static\/sass\/style\.scss}line{font-family:\00003696}}
                                                        .connection-controls h2 {
                                                          font-size: 10px;
                                                          text-transform: uppercase;
                                                          font-weight: bold;
                                                          color: #685c53; }

                                                          @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/biyeun\/Code\/_web\/cm_prototype\/src\/cm_prototype\/static\/sass\/style\.scss}line{font-family:\00003703}}
                                                          .connection-controls .remove {
                                                            position: absolute;
                                                            right: -2px;
                                                            top: -4px; }

                                                            @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/biyeun\/Code\/_web\/cm_prototype\/src\/cm_prototype\/static\/sass\/style\.scss}line{font-family:\00003710}}
                                                            .noselect {
                                                              -webkit-touch-callout: none;
                                                              -webkit-user-select: none;
                                                              -khtml-user-select: none;
                                                              -moz-user-select: none;
                                                              -ms-user-select: none;
                                                              user-select: none; }

                                                              @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/biyeun\/Code\/_web\/cm_prototype\/src\/cm_prototype\/static\/sass\/style\.scss}line{font-family:\00003726}}
                                                              .workflow {
                                                                min-width: 200px;
                                                                min-height: 200px;
                                                                -moz-border-radius: 10px;
                                                                -webkit-border-radius: 10px;
                                                                border-radius: 10px;
                                                                background-color: #004ebc;
                                                                padding: 15px;
                                                                margin: 20px;
                                                                float: left; }

                                                                @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/biyeun\/Code\/_web\/cm_prototype\/src\/cm_prototype\/static\/sass\/style\.scss}line{font-family:\00003738}}
                                                                .workflow > .connection-controls h2 {
                                                                  color: #ffffff; }

                                                                  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/biyeun\/Code\/_web\/cm_prototype\/src\/cm_prototype\/static\/sass\/style\.scss}line{font-family:\00003742}}
                                                                  .workflow > .connection-controls .remove {
                                                                    color: #bcdeff; }

                                                                    @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/biyeun\/Code\/_web\/cm_prototype\/src\/cm_prototype\/static\/sass\/style\.scss}line{font-family:\00003746}}
                                                                    .workflow > .connection-controls .remove:hover {
                                                                      color: white; }

                                                                      @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/biyeun\/Code\/_web\/cm_prototype\/src\/cm_prototype\/static\/sass\/style\.scss}line{font-family:\00003752}}
                                                                      .workflow .start, .workflow .middle {
                                                                        position: relative;
                                                                        min-height: 220px;
                                                                        margin: 10px;
                                                                        float: left;
                                                                        padding: 10px;
                                                                        padding-top: 15px;
                                                                        -moz-border-radius: 5px;
                                                                        -webkit-border-radius: 5px;
                                                                        border-radius: 5px; }

                                                                        @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/biyeun\/Code\/_web\/cm_prototype\/src\/cm_prototype\/static\/sass\/style\.scss}line{font-family:\00003765}}
                                                                        .workflow .start {
                                                                          background-color: #002c5f;
                                                                          min-width: 200px;
                                                                          margin-bottom: 30px; }

                                                                          @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/biyeun\/Code\/_web\/cm_prototype\/src\/cm_prototype\/static\/sass\/style\.scss}line{font-family:\00003772}}
                                                                          .workflow .middle {
                                                                            background-color: #002c5f;
                                                                            min-width: 400px; }

                                                                            @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/biyeun\/Code\/_web\/cm_prototype\/src\/cm_prototype\/static\/sass\/style\.scss}line{font-family:\00003778}}
                                                                            .workflow .title {
                                                                              position: absolute;
                                                                              text-transform: uppercase;
                                                                              color: #ffffff;
                                                                              font-weight: bold;
                                                                              font-size: 10px;
                                                                              top: 5px;
                                                                              left: 0;
                                                                              text-align: center;
                                                                              width: 100%; }
