{% extends '_base.html' %}

{% block content %}


  <div class="workflow-container">
    <div class="workflow-icon">
      <i class="fa fa-bars"></i>
    </div>
    <div class="workflow-icon-connection"></div>
  </div>

  <div class="workflow-container">
    <div class="workflow-icon">
      <i class="fa fa-bars"></i>
    </div>
    <div class="workflow-icon-connection connected"></div>
  </div>

  <div class="form">
    <div class="connection-controls">
      <h1 class="noselect">Form</h1>
      <div class="workflow-icon-connection"></div>
    </div>
    <input class="name form-control form-control-sm">
    <hr />
    <ol>
      <li><input class="form-control form-control-sm question"><a class="remove-question"><i class="fa fa-remove"></i></a></li>
    </ol>
    <button class="add-question btn btn-primary btn-sm">Add question</button>
  </div>
{% endblock %}
