{% extends '_base.html' %}

{% block content %}
<div class="form-icon">
  <div class="form-icon-title">Form 1</div>
</div>
<div class="form-icon">
  <div class="form-icon-title">Form 1</div>
  <div class="workflow-icon-connection"></div>
</div>
<div class="form-icon form-icon-workflow">
  <div class="form-icon-title">Form 1</div>
</div>
<div class="form-icon form-icon-workflow">
  <div class="form-icon-title">Form 1</div>
  <div class="workflow-icon-connection connected"></div>
</div>

  <div class="workflow-container">
    <div class="workflow-icon">
      <i class="fa fa-bars"></i>
    </div>
    <div class="workflow-icon-connection"></div>
  </div>

  <div class="workflow-container">
    <div class="workflow-icon">
      <i class="fa fa-bars"></i>
    </div>
    <div class="workflow-icon-connection connected"></div>
  </div>
{% endblock %}
